* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    padding: 20px 80px 20px 80px;
}

img {
    max-width: 300px;
    height: auto;
}


.header-logo {
    color: white;
    width: 250px;
}


.hero {
    display: flex;
    justify-content: space-around;
}


.hero-box {
    width: 350px;
}


.hero-title {
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 48px;
}


button {

    padding: 5px 15px;
    border-radius: 5px;
    border-style: solid;
}

.head-button {
    background-color: #3882f6;
    color: white;
    border-color: #3882f6;
    margin-top: 15px;
}


.navbar {
    display: flex;
    justify-content: flex-end;
}


ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
    text-decoration: none;
}



.links {
    margin-left: auto;
}


.hero-text,
.footer,
.links {
    color: #e5e7eb;
    font-size: 16px;
}

.hero {
    
    margin: 80px 0px;
}


.quote-block {
    background-color: #e5e7eb;
}

.subtitle {
    display: flex;
    justify-content: center;
    margin: 50px 0px 20px 0px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}



.box-container {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;

}

.box {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
    margin-bottom: 15px;
}


.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    border: #1F2937;
    padding: 20px 20px;
    margin-bottom: 50px;    
}

.box-caption {
    text-align: center;
    font-size: 14px;
}


.quote-block {
    padding: 100px 0px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    margin: 0px 200px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}

.quote-reference {
    display: flex;
    margin-right: 200px;
    justify-content: flex-end;
    font: #1f2937;
    font-weight: bold;
}


.call-to-action {
    display: flex;
    justify-content: center;
}


.cta-block {
    display: flex;
    width: 600px;
    margin: 100px 180px;
    padding: 30px 100px;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
}

.signup-button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.signup-button {
    background-color: #3882f6;
    border-color: white;
    color: white;

}

.footer {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}