.header,
.footer {
    background-color: #1F2937;
}

img {
    max-width: 300px;
    height: auto;
}


.header-logo {
    color: white;
    width: 250px;
}

.hero-title {
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 48px;;
}


.navbar {
    display: flex;
    justify-content: flex-end;
}


ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
    text-decoration: none;
}



.links {
    margin-left: auto;
}


.hero-text,
.footer,
.links {
    color: #e5e7eb;
    font-size: 18px;
}

.quote-block {
    background-color: #e5e7eb;
}